:host {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .flex-horizontal {
        display: flex;
        flex-direction: row;
        &:not(.menuOpen) {
            :first-child {
                margin-left: -300px;
                overflow: hidden;
            }
        }
        :first-child {
            margin-left: 0;
            transition: all 0.5s;
        }
    }
    .flex-vertical {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 20px;
    }
}