<p-card>

    <p-floatLabel>
        <input pInputText type="text" [(ngModel)]="taskName">
        <label>Nom de la tâche</label>
    </p-floatLabel>

    <div class="mt-3">
        <p-checkbox [binary]="true" [(ngModel)]="isImportant"></p-checkbox>
        <label class="ml-3">Important</label>
    </div>

    <div class="mt-3">
        <p-button [disabled]="!taskName" 
                  (onClick)="add()" 
                  label="Ajouter" 
                  icon="pi pi-plus"></p-button>
    </div>

</p-card>

<div class="mt-3">
    <p-card>
        @for(t of tasks;track t) {
            <p><span (click)="check(t)" [ngClass]="{ 
                red: t.important, 
                barre: t.isComplete 
            }">{{t.name}}</span> <p-button (onClick)="delete(t)" [outlined]="true" icon="pi pi-trash" severity="danger" size="small"></p-button></p>
            <hr>
        } @empty {
            Pas encore de tâche
        }
    </p-card>
</div>
